  <div class="col">
    <div class="card lg">
        <h2>{{cours.title}}</h2>
      <div class="card-image lg">
        <img src="{{cours.img}}" alt="{{cours.title}}">
      </div>
      <div class="card-content">
        <p class="price lg">{{cours.price}}</p>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>